a{
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0%;
  }

li:hover a:after { 
    background: #000;
    width: 75%; 
}